/***************************************************************************************
*********************************** Variable Générale **********************************
***************************************************************************************/

$color-white:#FFFAFA;
$color-pink:#e840ba;
$color-blue:#58A4B0;
$color-black:#020402;
$color-purple:#6e41be;
$color-secondBlue:#1ca2f4;
$text-shadow-pink: 0px 0px 5px $color-pink,
0px 0px 10px$color-white,
0px 0px 15px $color-pink;
$text-shadow-purple: 0px 0px 5px $color-purple,
0px 0px 10px$color-white,
0px 0px 15px $color-purple;
$text-shadow-blue: 0px 0px 5px $color-blue,
0px 0px 10px$color-white,
0px 0px 15px $color-blue;

/***************************************************************************************
    *************************************** Générale ***************************************
    ***************************************************************************************/

html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-black;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}

.buttonShadowBlue {
    &:hover {
        box-shadow: 0px 0px 5px 1px $color-black, 0px 0px 10px 3px $color-black, 0px 0px 12px 4px $color-secondBlue, 0px 0px 20px 6px $color-blue;
    }
    &:focus {
        box-shadow: none;
        &:hover {
            box-shadow: 0px 0px 15px 5px $color-blue;
        }
    }
}

//Button pour remonter à l'acceuil
#homeBottomButton {
    right: 2%;
    bottom: 4%;
    font-size: 3rem;
    cursor: pointer;
    z-index: 99;
    color: $color-white;
}

.backPortfolio {
    text-shadow: $text-shadow-purple;
}


/***************************************************************************************
    *************************************** Header *****************************************
    ***************************************************************************************/

header {
    height: 100vh;
    box-shadow: 0px 0px 1px $color-white, 0px 0px 3px $color-pink, 0px 0px 7px $color-white, 0px 0px 15px $color-pink, inset 0px 0px 1px $color-white, inset 0px 0px 3px $color-pink, inset 0px 0px 7px $color-white, inset 0px 0px 15px $color-pink;
    background-image: url('../img/devenir-developpeur-web-mobile.jpg');
    background-size: cover;
    overflow-x: hidden;
    .row {
        .headerTitle {
            margin-top: 20vh;
            font-size: 4rem;
            text-shadow: $text-shadow-pink;
            z-index: 1;
        }
        .headerText {
            font-size: 2rem;
            text-shadow: $text-shadow-pink;
            z-index: 1;
        }
        .buttonHeader {
            margin-top: 30vh;
            z-index: 1;
        }
        .chevron {
            cursor: pointer;
            z-index: 1;
            font-size: 2rem;
            text-shadow: $text-shadow-pink;
            .firstChevron {
                position: absolute;
                animation-name: chevroAnimation;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                opacity: 0;
            }
            .secondChevron {
                position: absolute;
                animation-name: chevroAnimation;
                animation-duration: 3s;
                animation-delay: 0.75s;
                animation-iteration-count: infinite;
                opacity: 0;
            }
            .thirdChevron {
                position: absolute;
                animation-name: chevroAnimation;
                animation-duration: 3s;
                animation-delay: 1.5s;
                animation-iteration-count: infinite;
                opacity: 0;
            }
            .forthChevron {
                position: absolute;
                animation-name: chevroAnimation;
                animation-duration: 3s;
                animation-delay: 2.25s;
                animation-iteration-count: infinite;
                opacity: 0;
            }
            @keyframes chevroAnimation {
                from {
                    top: 85%;
                    opacity: 0;
                    left: calc(50% - 1rem);
                }
                25% {
                    top: 86.5%;
                    opacity: 0.5;
                }
                50% {
                    top: 88%;
                    opacity: 1;
                }
                75% {
                    top: 89.5%;
                    opacity: 0.5;
                }
                to {
                    top: 91%;
                    opacity: 0;
                    left: calc(50% - 1rem);
                }
            }
        }
    }
    &::after {
        content: '\A';
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: 0;
    }
}


/***************************************************************************************
    **************************************** Navbar ****************************************
    ***************************************************************************************/

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    a {
        cursor: pointer;
        text-transform: uppercase;
        color: white;
        text-shadow: 0px 0px 2px $color-white, 0px 0px 5px $color-pink;
        &:hover {
            color: white;
            text-shadow: 0px 0px 2px$color-white, 0px 0px 5px $color-pink, 0px 0px 12px $color-black, 0px 0px 20px $color-pink;
        }
        &:focus {
            color: white;
        }
    }
}


/***************************************************************************************
    **************************************** Content ****************************************
    ***************************************************************************************/

.content {
    background-image: radial-gradient(circle at center center, rgba(71, 71, 71, 0.47), rgb(8, 8, 8));
    box-shadow: 0px 0px 2px $color-white, 0px 0px 5px $color-blue, 0px 0px 12px $color-black, 0px 0px 15px $color-white, 0px 0px 18px $color-black;
}


/***************************************************************************************
    **************************************** Présentation **********************************
    ***************************************************************************************/

.aboutMe {
    .profilPhotoContainer {
        position: relative;
        &:hover .profilPhoto {
            opacity: 1;
        }
    }
    .profilPhoto {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 7.5%;
        right: 0;
        opacity: 0;
        transition: 1.3s ease;
    }
}


/***************************************************************************************
    **************************************** Compétence ************************************
    ***************************************************************************************/

.skill {
    overflow: hidden;
    .skillIcon {
        font-size: 20vh;
        text-shadow: 0px 0px 2px $color-white, 0px 0px 5px $color-pink;
    }
    .frontEnd {
        .frontEndTitle {
            color: $color-purple;
        }
        .frontEndIcon {
            color: $color-purple;
        }
        .frontEndBody {
            h4 {
                color: $color-white;
            }
        }
    }
    .backEnd {
        .backEndTitle {
            color: $color-secondBlue;
        }
        .backEndIcon {
            color: $color-secondBlue;
        }
        .backEndBody {
            h4 {
                color: $color-white;
            }
        }
    }
    .webDesign {
        .webDesignTitle {
            color: $color-pink;
        }
        .webDesignIcon {
            color: $color-pink;
        }
        .webDesignBody {
            h4 {
                color: $color-white;
            }
        }
    }
}


/***************************************************************************************
**************************************** Timeline ************************************
***************************************************************************************/

.timelineContainer {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 3px;
        background-color: $color-white;
        top: 0;
        bottom: 0;
        left: 20%;
        box-shadow: 0px 0px 2px $color-white, 0px 0px 4px $color-black, 0px 0px 10px $color-pink;
    }
    .leftPart {
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        width: 20%;
        left: 5rem;
    }
    .rightPart {
        box-shadow: 0px 0px 1px $color-white, 0px 0px 3px $color-blue, 0px 0px 5px $color-white, 0px 0px 10px $color-blue;
        margin-right: 2.5rem;
        margin-left: 11%;
        position: relative;
        height: 30vh;
        .fa-caret-left {
            position: absolute;
            aspect-ratio: 1;
            width: 25px;
            top: calc(50% - 12.5px);
            left: -0.7rem;
            text-shadow: 0px 0px 2px $color-white, 0px 0px 5px $color-blue, 0px 0px 10px $color-white, 0px 0px 15px $color-blue;
            font-size: 2rem;
        }
    }
    .timelineBadge {
        z-index: 2;
        left: calc(20% - 1.525rem);
        top: calc(15vh - 1rem);
        background-color: $color-white;
        border-radius: 50%;
        width: 2.5rem;
        aspect-ratio: 1;
        font-size: 1.5rem;
        padding: 0;
        color: $color-pink;
        box-shadow: 0px 0px 2px $color-white, 0px 0px 4px $color-black, 0px 0px 10px $color-pink;
    }
    .timelineBadgeAfterMargin {
        z-index: 2;
        left: calc(20% - 1.525rem);
        top: calc(15vh + 0.40vh - 1.075rem);
        background-color: $color-white;
        border-radius: 50%;
        width: 2.5rem;
        aspect-ratio: 1;
        font-size: 1.5rem;
        padding: 0;
        color: $color-pink;
        box-shadow: 0px 0px 2px $color-white, 0px 0px 4px $color-black, 0px 0px 10px $color-pink;
    }
    .timelineBadgeEnd {
        cursor: pointer;
        z-index: 2;
        left: calc(20% - 1.2rem);
        top: calc(100% - 1.325rem);
        background-color: $color-white;
        border-radius: 50%;
        width: 2.5rem;
        aspect-ratio: 1;
        font-size: 1.5rem;
        padding: 0;
        color: $color-pink;
        box-shadow: 0px 0px 2px $color-white, 0px 0px 4px $color-black, 0px 0px 15px $color-blue, 0px 0px 20px $color-pink;
    }
}


/***************************************************************************************
**************************************** Portfolio *************************************
***************************************************************************************/

.portfolio {
    .portfolioProjectContainer {
        position: relative;
        height: 50vh;
        box-shadow: 0px 0px 1px $color-white, 0px 0px 3px $color-pink, 0px 0px 7px $color-white, 0px 0px 15px $color-pink, ;
        .portfolioProject {
            background-image: radial-gradient(circle at center center, rgba(71, 71, 71, 0.47), rgb(8, 8, 8));
            position: relative;
            height: 50vh;
            overflow: hidden;
            .portfolioProjectIllustration {
                position: relative;
                height: 42.5vh;
                border-bottom-left-radius: 4%;
                border-bottom-right-radius: 4%;
                transition: 1.3s ease;
                img {
                    width: 100%;
                    height: 100%;
                    padding: 0px;
                }
            }
            .portfolioProjectDescription {
                content: ' ';
                position: absolute;
                width: 100%;
                height: 7.5vh;
                transition: 1.3s ease;
                .portfolioProjectDescriptionTitle {
                    margin-top: 2vh;
                }
                .portfolioProjectDescriptionBody {
                    cursor: default;
                    opacity: 0;
                    transition: 0.8s ease;
                    height: 32.5vh;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        width: 6px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: rgba(0, 0, 0, 0);
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 20px;
                        background-color: $color-white;
                    }
                }
            }
        }
        &:hover {
            .portfolioProjectIllustration {
                opacity: 0;
                height: 0vh;
            }
            .portfolioProjectDescription {
                height: 50vh;
                .portfolioProjectDescriptionTitle {
                    margin-top: 1vh;
                }
                .portfolioProjectDescriptionBody {
                    opacity: 1;
                    transition: 0.8s ease 0.8s;
                }
            }
        }
    }
}


/***************************************************************************************
**************************************** Contact *************************************
***************************************************************************************/

.contact {
    .iconContactTitlePhone {
        text-shadow: $text-shadow-purple;
    }
    .iconContactTitleMail {
        text-shadow: $text-shadow-blue;
    }
    .iconContactTitle {
        font-size: 7rem;
    }
    .iconContact {
        font-size: 6rem;
        text-shadow: $text-shadow-pink;
    }
    .textContactPhone {
        color: $color-purple;
        font-size: 2rem;
    }
    .textContactMail {
        color: $color-blue;
        font-size: 1.5rem;
    }
    .textContact {
        color: $color-pink;
        font-size: 2rem;
    }
}

@media screen AND(max-width: 765px) {
    header {
        background-image: url('../img/devenir-developpeur-web-mobile.jpg');
        .row {
            .headerTitle {
                font-size: 2.5rem;
            }
            .headerText {
                font-size: 1rem;
            }
        }
    }
    .navbar {
        background-color: rgba(0, 0, 0, 0.8);
        .homeIcon {
            display: none;
        }
    }
    .aboutMe {
        .profilPhoto {
            left: 7.5%;
        }
    }
    .skill {
        .skillIcon {
            display: none;
        }
    }
    #homeBottomButton {
        right: calc(50% - 1.5rem);
        bottom: 2.5%;
        font-size: 2rem;
    }
    .portfolio {
        .portfolioProjectContainer {
            position: relative;
            height: 50vh;
            .portfolioProject {
                background-image: radial-gradient(circle at center center, rgba(71, 71, 71, 0.47), rgb(8, 8, 8));
                position: relative;
                height: 50vh;
                overflow: hidden;
                .portfolioProjectIllustration {
                    background-image: url('../img/devenir-developpeur-web-mobile.jpg');
                    background-size: cover;
                    height: 45vh;
                    border-bottom-left-radius: 4%;
                    border-bottom-right-radius: 4%;
                    transition: 1.3s ease;
                }
                .portfolioProjectDescription {
                    content: ' ';
                    position: absolute;
                    width: 100%;
                    height: 5vh;
                    transition: 1.3s ease;
                    .portfolioProjectDescriptionTitle {
                        margin-top: 0.5vh;
                    }
                    .portfolioProjectDescriptionBody {
                        opacity: 0;
                        transition: 0.6s ease;
                        font-size: 0.75rem;
                        overflow-y: scroll;
                        scrollbar-width: 7px;
                    }
                }
            }
            &:hover {
                .portfolioProjectIllustration {
                    opacity: 0;
                    height: 0vh;
                }
                .portfolioProjectDescription {
                    height: 50vh;
                    .portfolioProjectDescriptionTitle {
                        margin-top: 0vh;
                    }
                    .portfolioProjectDescriptionBody {
                        opacity: 1;
                        transition: 0.8s ease 0.8s;
                    }
                }
            }
        }
    }
    @keyframes chevroAnimation {
        from {
            top: 86%;
            opacity: 0;
            left: calc(50% - 1rem);
        }
        25% {
            top: 87.5%;
            opacity: 0.5;
        }
        50% {
            top: 89%;
            opacity: 1;
        }
        75% {
            top: 90.5%;
            opacity: 0.5;
        }
        to {
            top: 92%;
            opacity: 0;
            left: calc(50% - 1rem);
        }
    }
    .contact {
        .iconContact {
            font-size: 4.5rem;
        }
        .textContactPhone {
            font-size: 1.25rem;
        }
        .textContactMail {
            font-size: 1.25rem;
        }
        .textContact {
            font-size: 2rem;
        }
    }
}